/* Default styles */
body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  background-color: #00002d;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #78c4d4;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #78c4d4;
}

hr {
  border: dotted;
  color: #78c4d4;
  width: 40%;
  border-bottom: 0;
  margin: 100px auto;
}

p {
  line-height: 2;
  color: #f4f9f9;
}

a {
  color: #161d6f;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

a:hover {
  color: #f4f9f9;
}

/* Main picture */
.top-container {
  height: 100vh; /* Full height of the viewport */
  width: 100%; /* Full width of the viewport */
  background-image: url("../Images/vecteezy_pine-forest-landscape-vector-illustration-silhouette-of_33951973.png"); /* The image used */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: flex; /* Apply flexbox layout */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  background-color: #00002d;
  background-size: cover;
}

.nameAndTitle_div {
  /* Adjust position to be centered */
  display: flex;
  flex-direction: column;
  margin: 0; /* Remove default margin */
  font-family: "Sacramento", cursive;
  font-size: 2.7rem;
  color: #f4f9f9; /* Ensure the text color is light */
  margin-bottom: 25rem;
}

.imRyan {
  margin: 0 auto;
  display: inline-block;
}

.aWebDeveloper {
  margin: 0 auto;
  display: inline-block;
  font-size: 1.7rem;
}

/* Div 2 */

.middle-container {
  padding: 100px 0;
  background-color: #00002d;
}

.profile {
  width: 50%;
  margin: auto;
}

.RMB_1 {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.skills {
  padding: 200px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.information,
.maintenance {
  width: 25%;
  float: left;
  margin-right: 20px;
}

/* Div 3 */
.bottom-container {
  background-color: #78c4d4;
  padding: 50px 0;
  background-color: #00002d;
}

.contact-me {
  width: 40%;
  margin: 50px auto;
}

.btn {
  margin-top: 20px;
  border-radius: 26px;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  padding: 18px;
  background-color: #78c4d4;
  box-shadow: 2px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: #a4ebf3;
}

.footer-link {
  line-height: 6;
  background-image: url();
}

.copyrite {
  color: #f4f9f9;
  font-size: 0.75rem;
}
